:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

#content {
  display: flex;
  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#content > * {
  flex: 1 1 auto;
}


nav {
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-focus);
  color: var(--background);
}

#notifications {
  margin-right: 10px;
}

#hamburger {
  border: 0px;
  background-color: transparent;
  margin: 0;
  padding: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
}

#hamburger > div {
  position: absolute;
  border-radius: 5px;
  background-color: var(--background);
  left: 8px;
  right: 8px;
  height: 3px;
}

#hamburger > div:nth-child(1) {
  top: 12px;
}
#hamburger > div:nth-child(2) {
  top: 20px;
}
#hamburger > div:nth-child(3) {
  top: 28px;
}

nav h1 {
  display: block;
  margin: 0 auto 0 16px;
  padding: 0;
  font-size: 24px;
}
