:host {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
  overflow: hidden;
}

slot {
  flex: 1 0 auto; /* take remaining space, don't shrink below it */
  min-height: 0;  /* keeps flex math sane; safe even if dialog scrolls */
  display: block;      /* ensure it participates as a block */
}

::slotted(*) {
  display: block;
  min-height: 100%;
}

dialog {
  display: flex;
  position: relative;
  margin: auto;
  background-color: var(--background-panel);
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid var(--border);
}

@media (max-width: 599px) {
  dialog {
    position: absolute;
    background-color: var(--background-panel);
    border: 1px solid var(--border);
    overflow-x: scroll;
    width: 100%;
    height: 100vh;
  }
}

@media (min-width: 600px) {
  dialog {
    height: auto;
    min-height: min(100vh - 32px, 600px);
    max-height: min(600px, 100vh - 32px);
    width: 600px;
  }
}

#close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  pointer: cursor;
  font-size: 28px;
  background: transparent;
  border: none;
  color: var(--text-tertiary);
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

