:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input {
  height: 40px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 32px;
}

input::disabled {
  color: var(--text-muted);
}

#login-button {
  flex: 1;
}
