:host {
  display: block;
  margin: 0;
  padding: 16px;
}

hr {
  margin: 0;
  padding: 0;
  color: var(--border);
  margin-bottom: 10px;
}

h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

